/* Font Families */
@font-face {
  font-family: "EliceDigitalBaeum-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LotteMartHappy";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff")
      format("woff");
}
@font-face {
  font-family: "Happiness-Sans-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "NanumSquareRound";
  /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=27951), auto !important; */
}
body {
  margin: 0;
}
/* 스크롤바 수정 */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

a {
  text-decoration: none !important;
  opacity: 1;
}
a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.text-underline-hover {
  text-decoration: none !important;
  cursor: pointer;
}

.text-underline-hover:hover {
  text-decoration: underline !important;
}

/* 페이지네이션 Bootstrap CSS */
.pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(85, 65, 172, 0.25) !important;
  --bs-pagination-color: rgb(77, 77, 77) !important;
  --bs-pagination-active-bg: rgb(73, 78, 156) !important;
  --bs-pagination-active-border-color: rgb(114, 114, 114) !important;
  --bs-pagination-focus-color: black !important;
  --bs-pagination-hover-color: rgb(60, 60, 136) !important;
  z-index: 0;
}

/*Button Bootstrap CSS*/
.btn-primary {
  --bs-btn-bg: rgb(94, 101, 202) !important;
  --bs-btn-border-color: #957af7 !important;
  --bs-btn-hover-bg: rgb(60, 60, 136) !important;
  --bs-btn-hover-border-color: #957af7 !important;
  border: 2px solid rgb(255, 255, 255) !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  --bs-btn-active-bg: #6f26fd !important;
  --bs-btn-disabled-bg: rgb(135, 102, 252) !important;
}
.btn-primary:active {
  box-shadow: none !important;
}

.btn-outline-primary {
  --bs-btn-color: rgb(90, 90, 185) !important;
  --bs-btn-border-color: #957af7 !important;
  --bs-btn-hover-bg: rgb(60, 60, 136) !important;
  --bs-btn-hover-border-color: #957af7 !important;
  border: 2px solid #957af7 !important;
  --bs-btn-active-bg: #5f5eb5 !important;
}
.btn-outline-primary:active {
  box-shadow: none !important;
  background-color: rgb(35, 35, 78) !important;
}
.placeholder-glow {
  margin: 0 !important;
}
/*Animations*/
.rotate-animation {
  animation: rotateAnimation 3s infinite ease-in-out;
  transform-style: preserve-3d;
}

@keyframes rotateAnimation {
  0% {
    transform: perspective(600px) rotateY(20deg);
  }
  50% {
    transform: perspective(600px) rotateY(-20deg); /* 중간 지점에서 180도 회전으로 전환합니다. */
  }
  100% {
    transform: perspective(600px) rotateY(20deg);
  }
}

/*Chat-bot CSS*/
.react-chatbot-kit-chat-container {
  position: absolute !important;
  bottom: 5em;
  right: 1em;
  width: 15% !important;
  z-index: 999 !important;
}
.react-chatbot-kit-chat-bot-avatar-container {
  display: none !important;
}
.react-chatbot-kit-chat-bot-message {
  width: 90% !important;
}
/* motion framer style */

/* Progress Bar */
.bar {
  position: fixed;
  top: 5em;
  width: 57%;
  height: 1vh;
  transform-origin: 0;
  transform: translate3d(0, 0, 0);
  background: rgb(65, 30, 161);
  opacity: 0.8;
}
